body {
    background-image: url("/CRUD/Pictures/Data.jpg");
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 0%;
    margin: 0%;
}

.C1 {
    background-color: rgb(136, 136, 163);
}

.li:hover {
    text-shadow: 5px 5px 25px rgb(255, 255, 255);
    /* color: aliceblue; */
}